@{
    Layout = "_Layout";
}

<div class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-danger">
                <div class="card-body">
                    <h1 class="display-1 text-danger">404</h1>
                    <h2 class="display-4">Pagina non trovata</h2>
                    <p class="lead">Sembra che la pagina che stai cercando non esista o sia stata rimossa.</p>
                    <div class="mt-4">
                        <a asp-controller="Book" asp-action="Index" class="btn btn-primary btn-lg">
                            Torna alla Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
